<ion-header>
  <ion-toolbar>
    <ion-title>
      
      Ionic Blank
      
      
    </ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-content padding>

        <div *ngIf="brag == true">
            <h2>I'm awesome!</h2>
        </div>
    
        
  <ion-input placeholder="Introduce el Nombre"></ion-input>
  <ion-input placeholder="Introduce la descripción"></ion-input>
  <br>
  <ion-card>
    <ion-input placeholder="nombre" [(ngModel)]="nombre"></ion-input>
  </ion-card>
  <ion-card>
    <ion-input placeholder="Estado del producto" [(ngModel)]="producto"></ion-input>
  </ion-card>

  <ion-list *ngIf ="oculto == true">
      <ion-label style>Categoria</ion-label>
    <ion-radio-group>
      <ion-item>
          <ion-label>Tecnologia</ion-label>
          <ion-radio slot="end" checked="true" (click)="cambiar_tecnologia()" ></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Hogar</ion-label>
            <ion-radio slot="end" checked="true"></ion-radio>
        </ion-item>
        <ion-item>
              <ion-label>Inmobiliaria</ion-label>
              <ion-radio slot="end" checked="true" (click)="cambiar_inmobiliaria()"></ion-radio>
        </ion-item>
        <ion-item>
                <ion-label>Motor</ion-label>
                <ion-radio slot="end" checked="true" (click)="cambiar_motor()"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    
    <ion-button expand="block" (click)="cambiar_oculto()">Mostrar o Ocultar</ion-button>
    <ion-card>
      <ion-card-title>{{nombre}}</ion-card-title>
    </ion-card>
    <ion-card>
      <ion-card-title>{{producto}}</ion-card-title>
    </ion-card>
    



























 
    <ion-list *ngIf ="motor == true">
      <ion-radio-group>
          <ion-item>
            <ion-label>Coche</ion-label>
            <ion-radio slot="end" checked="true" value="Coche" (click)="insertarCoche()"></ion-radio>
      </ion-item>
      <ion-item>
              <ion-label>Moto</ion-label>
              <ion-radio slot="end" checked="true" (click)="insertarMoto()"></ion-radio>
      </ion-item>
    </ion-radio-group>
      <ion-input placeholder="Introduce el año del vehiculo" type="number" [(ngModel)]="anyo"></ion-input>
      <ion-input placeholder="Introduce los kms" type="number" [(ngModel)]="km"></ion-input>
      <ion-button expand="block" (click)="insertarMotor()">Insertar</ion-button>  
    </ion-list>
      <ion-list *ngIf ="inmobiliaria == true">
          <ion-label style>Metros Cuadrados Vivienda</ion-label>
          <ion-input type="number" value="70"  [(ngModel)]="metros" ></ion-input>
          <ion-label style>Numero Baños</ion-label>
          <ion-input type="number" value="1"  [(ngModel)]="n_banyos"></ion-input>
          <ion-label style>Numero Habitaciones</ion-label>
          <ion-input type="number" value="1" [(ngModel)]="habita"></ion-input>
          <ion-input placeholder="Localidad" [(ngModel)]="localidad"></ion-input>

          <ion-button expand="block" (click)="insertarInmo()">Insertar</ion-button>
      </ion-list>
      <ion-list *ngIf ="tecnologia == true">
          <ion-label>Selecciona el estado del producto</ion-label>
          <br>
          <ion-item>  
          <ion-radio-group>
            <ion-item>
                <ion-label>Perfecto Estado</ion-label>
                <ion-radio slot="end" checked="true" value="Perfecto Estado" (click)="insertarPerfEstado()" ></ion-radio>
        </ion-item>
            <ion-item>
                <ion-label>Usado</ion-label>
                <ion-radio slot="end" checked="true" value="Usado" (click)="insertarUsado()"></ion-radio>
            </ion-item>
          </ion-radio-group>
          
          </ion-item>
          <ion-button expand="block" (click)="insertar()">Insertar</ion-button>
      </ion-list>

      <ion-card *ngFor="let Item of Inmobiliaria">
        <ion-card-header>
          <ion-card-title>
            Id {{Item.Id}}
            <br>
            Tipo {{Item.Tipo}}
            <br>
            Metros Cuadrados {{Item.Metros_Cuadrados}}
            <br>
            Nº Habitaciones {{Item.Habitaciones}}
            <br>
            Nº Baños {{Item.Banyos}}
            <br>
          </ion-card-title>
        </ion-card-header>
        <ion-button expand="block" [routerLink]="['/creacion1/',Item.Id,Item.Metros_Cuadrados,Item.Habitaciones,Item.Banyos]" routerDirection="forward">Detalle</ion-button>
      </ion-card>
      <!--<ion-card *ngFor="let Item of Motor">
        <ion-card-header>
          <ion-card-title>
            Id {{Item.Id}}
            <br>
            Tipo {{Item.Tipo}}
            <br>
            Tipo Vehiculo {{Item.Tipo_Vehiculo}}
            <br>
            Año del Vehiculo {{Item.Anyo_Vehiculo}}
            <br>
            Kilometros Recorridos {{Item.Kilometros_Recorridos}}
            <br>
          </ion-card-title>
          <ion-button expand="block" [routerLink]="['/creacion2/',Item.Id,Item.Tipo_Vehiculo,Item.Anyo_Vehiculo,Item.Kilometros_Recorridos]" routerDirection="forward">Detalle</ion-button>
        </ion-card-header>
      </ion-card><!-->
      <ion-card *ngFor="let Item of Tecnologia">
        <ion-card-header>
          <ion-card-title>
            Id {{Item.Id}}
            <br>
            Tipo {{Item.Tipo}}
            <br>
            Estado Producto {{Item.Estado_Producto}}
          </ion-card-title>
        </ion-card-header>
        <ion-button expand="block" [routerLink]="['/creacion3/',Item.Id,Item.Estado_Producto]" routerDirection="forward">Detalle</ion-button>
      </ion-card>
      <ion-card>
        <ion-card-title>{{motor.Kilometros_Recorridos}} {{motor.Anyo_Vehiculo}}</ion-card-title>
      </ion-card>
  <ion-button color="Primary">Primary</ion-button>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
</ion-content>
