<ion-header>
  <ion-toolbar>
    <ion-title>dentroChat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-input type="number" value="1" [(ngModel)]="nombre" placeholder="Introduce tu nombre"></ion-input>
  <ion-input type="number" value="1" [(ngModel)]="correo" placeholder="Introduce tu correo"></ion-input>
  <ion-input type="number" value="1" [(ngModel)]="contrasenya" placeholder="Introduce tu contraseña"></ion-input>
  <ion-button (click)="insertar()"></ion-button>
</ion-content>
